*.DS_Store
*.dump
*.ctu-info
.cache
.idea
build.sh
build
cmake-build-release
cmake-build-debug
subprojects/cpr
subprojects/fmt
subprojects/ftxui
subprojects/nlohmann_json-*
subprojects/spdlog
subprojects/simdjson
subprojects/rapidjson
subprojects/range-v3
subprojects/ctre
subprojects/packagecache

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

.vagrant
storage.vdi
compile_commands.json
