[base-packages]
# should be equal to pacstrap module in GUI installer
packages = [
  # from "CPU specific Microcode update packages" in netinstall
  "amd-ucode",
  "intel-ucode",

  # from pacstrap/CachyOS Required
  "base",
  "base-devel",
  "btrfs-progs",
  "cachyos-hooks",
  "cachyos-keyring",
  "cachyos-mirrorlist",
  "cachyos-v4-mirrorlist",
  "cachyos-v3-mirrorlist",
  "cachyos-rate-mirrors",
  "cachyos-settings",
  "cryptsetup",
  "device-mapper",
  "diffutils",
  "dosfstools",
  "e2fsprogs",
  "efibootmgr",
  "exfatprogs",
  "f2fs-tools",
  "inetutils",
  "iptables-nft",
  "jfsutils",
  "less",
  "linux-firmware",
  "logrotate",
  "lsb-release",
  "lvm2",
  "man-db",
  "man-pages",
  "mdadm",
  "chwd",
  "mkinitcpio",
  "netctl",
  "perl",
  "python",
  "s-nail",
  "sudo",
  "sysfsutils",
  "texinfo",
  "usbutils",
  "which",
  "xfsprogs",
  "plymouth",
  "cachyos-plymouth-bootanimation",

  # we use networkmanager
  "networkmanager",

  # some useful apps which we want to have available in CLI base
  "btop",
  "duf",
  "rsync",
  "vi",
  "wget",
  "ripgrep",
  "micro",
  "nano",
  "vim",
  "openssh"
]

[base-packages.desktop]
# TODO(vnepogodin): refactor "subcategories" into recursive table, e.g [base-packages.desktop.fonts] etc
# should be equal to "Base-devel + Common packages" and "CachyOS Packages" in netinstall module
packages = [
  # from "CachyOS Packages" & "Shell configuration"
  "cachyos-fish-config",
  "cachyos-zsh-config",
  "cachyos-hello",
  "cachyos-kernel-manager",
  "cachyos-packageinstaller",
  "cachyos-settings",
  "cachyos-micro-settings",
  "cachyos-wallpapers",

  # from "Network"
  "dnsmasq",
  "dnsutils",
  "ethtool",
  "iwd",
  "modemmanager",
  "networkmanager",
  "networkmanager-openvpn",
  "nss-mdns",
  "usb_modeswitch",
  "wpa_supplicant",
  "wireless-regdb",
  "xl2tpd",

  # from "firewall"
  "ufw",

  # from "bluetooth"
  "bluez", "bluez-hid2hci", "bluez-libs", "bluez-utils", "bluez-obex",

  # from "packages management"
  "pacman-contrib",
  "pkgfile",
  "rebuild-detector",
  "reflector",
  "paru",
  "octopi",

  # from "desktop integration"
  "accountsservice",
  "bash-completion",
  "ffmpegthumbnailer",
  "gst-libav",
  "gst-plugin-pipewire",
  "gst-plugins-bad",
  "gst-plugins-ugly",
  "libdvdcss",
  "libgsf",
  "libopenraw",
  "plocate",
  "poppler-glib",
  "vlc-plugins-all",
  "xdg-user-dirs",
  "xdg-utils",

  # from "filesystem"
  "efitools",
  "nfs-utils",
  "nilfs-utils",
  "smartmontools",
  "unrar",
  "unzip",

  # from "fonts"
  "awesome-terminal-fonts",
  "noto-fonts-emoji",
  "cantarell-fonts",
  "noto-fonts",
  "ttf-bitstream-vera",
  "ttf-dejavu",
  "ttf-liberation",
  "ttf-opensans",
  "ttf-meslo-nerd",
  "noto-fonts-cjk",

  # from "audio"
  "alsa-firmware",
  "alsa-plugins",
  "alsa-utils",
  "pavucontrol",
  "pipewire-pulse",
  "wireplumber",
  "pipewire-alsa",

  # from "hardware"
  "dmidecode",
  "dmraid",
  "hdparm",
  "hwdetect",
  "lsscsi",
  "mtools",
  "sg3_utils",
  "sof-firmware",
  "linux-firmware",

  # from "power"
  "cpupower", "power-profiles-daemon", "upower",

  # from "Firefox and language package"
  "firefox",

  # from "Some applications selection"
  "alacritty",
  "btop",
  "duf",
  "fsarchiver",
  "git",
  "glances",
  "hwinfo",
  "meld",
  "nano-syntax-highlighting",
  "fastfetch",
  "pv",
  "python-defusedxml",
  "python-packaging",
  "rsync",
  "vi",
  "wget",
  "ripgrep",
  "micro",
  "nano",
  "vim",
  "openssh"
]

[desktop.kde]
# should be equal to netinstall KDE section group in GUI installer
packages = [
  "ark",
  "bluedevil",
  "breeze-gtk",
  "cachyos-emerald-kde-theme-git",
  "cachyos-iridescent-kde",
  "cachyos-kde-settings",
  "cachyos-nord-kde-theme-git",
  "cachyos-themes-sddm",
  "char-white",
  "dolphin",
  "egl-wayland",
  "ffmpegthumbs",
  "filelight",
  "fwupd",
  "gwenview",
  "haruna",
  "kate",
  "kcalc",
  "kde-gtk-config",
  "kdeconnect",
  "kdegraphics-thumbnailers",
  "kdeplasma-addons",
  "kdialog",
  "kinfocenter",
  "kio-admin",
  "konsole",
  "kscreen",
  "kwallet-pam",
  "kwalletmanager",
  "partitionmanager",
  "phonon-qt6-vlc",
  "plasma-browser-integration",
  "plasma-desktop",
  "plasma-firewall",
  "plasma-nm",
  "plasma-pa",
  "plasma-systemmonitor",
  "plasma-thunderbolt",
  "plymouth-kcm",
  "powerdevil",
  "plasma-login-manager",
  "spectacle",
  "xsettingsd"
]

[desktop.xfce]
# should be equal to netinstall xfce section group in GUI installer
packages = [
  "blueman",
  "file-roller",
  "galculator",
  "gvfs",
  "gvfs-afc",
  "gvfs-gphoto2",
  "gvfs-mtp",
  "gvfs-nfs",
  "gvfs-smb",
  "lightdm",
  "lightdm-gtk-greeter",
  "lightdm-gtk-greeter-settings",
  "network-manager-applet",
  "parole",
  "ristretto",
  "thunar-archive-plugin",
  "thunar-media-tags-plugin",
  "xdg-user-dirs-gtk",
  "xed",
  "xfce4",
  "xfce4-battery-plugin",
  "xfce4-datetime-plugin",
  "xfce4-mount-plugin",
  "xfce4-netload-plugin",
  "xfce4-notifyd",
  "xfce4-pulseaudio-plugin",
  "xfce4-screensaver",
  "xfce4-screenshooter",
  "xfce4-taskmanager",
  "xfce4-wavelan-plugin",
  "xfce4-weather-plugin",
  "xfce4-whiskermenu-plugin",
  "xfce4-xkb-plugin"
]

[desktop.sway]
# should be equal to netinstall sway section group in GUI installer
packages = [
  "sway",
  "waybar",
  "wl-clipboard",
  "egl-wayland",
  "wayland-protocols",
  "wofi",
  "foot",
  "wmenu",
  "ly",
  "xorg-xwayland",
  "xdg-desktop-portal",
  "xdg-desktop-portal-wlr"
]

[desktop.wayfire]
# should be equal to netinstall wayfire section group in GUI installer
packages = [
  "cachyos-wayfire-settings",
  "wayfire-desktop-git",
  "egl-wayland",
  "wayland-protocols",
  "wofi",
  "ly",
  "xorg-xhost",
  "xorg-xwayland"
]

[desktop.i3wm]
# should be equal to netinstall i3wm section group in GUI installer
packages = [
  "cachyos-i3wm-settings",
  "cachyos-picom-config",
  "i3-wm",
  "i3blocks",
  "i3lock-color",
  "i3status",
  "rofi",
  "polybar",
  "ly",
  "dunst"
]

[desktop.gnome]
# should be equal to netinstall gnome section group + gnome apps subgroup in GUI installer
packages = [
  # Core
  "fwupd",
  "gdm",
  "gedit",
  "gnome-backgrounds",
  "gnome-console",
  "gnome-control-center",
  "gnome-keyring",
  "gnome-shell",
  "gnome-tweaks",
  "libnma",
  "sushi",
  # Apps Subgroup
  "papers",
  "loupe",
  "file-roller",
  "simple-scan",
  "gnome-disk-utility",
  "gnome-power-manager",
  "gnome-calculator",
  "gnome-nettool",
  "gnome-usage",
  "malcontent",
  "showtime",
  "gvfs-afc",
  "gvfs-nfs",
  "gvfs-smb",
  "gvfs-gphoto2",
  "gvfs-mtp"
]

[desktop.openbox]
# should be equal to netinstall openbox section group in GUI installer
packages = [
  "obconf-qt",
  "libwnck3",
  "acpi",
  "arandr",
  "archlinux-xdg-menu",
  "dex",
  "dmenu",
  "dunst",
  "feh",
  "gvfs",
  "gvfs-afc",
  "gvfs-gphoto2",
  "gvfs-mtp",
  "gvfs-nfs",
  "gvfs-smb",
  "jgmenu",
  "jq",
  "lightdm",
  "lightdm-slick-greeter",
  "lxappearance",
  "mpv",
  "network-manager-applet",
  "openbox",
  "pasystray",
  "picom",
  "polkit-gnome",
  "rofi",
  "scrot",
  "slock",
  "sysstat",
  "thunar",
  "thunar-archive-plugin",
  "thunar-media-tags-plugin",
  "thunar-volman",
  "tint2",
  "ttf-nerd-fonts-symbols",
  "tumbler",
  "xbindkeys",
  "xcursor-neutral",
  "xdg-user-dirs-gtk",
  "xed",
  "xfce4-terminal"
]

[desktop.bspwm]
# should be equal to netinstall bspwm section group in GUI installer
packages = [
  "cachyos-picom-config",
  "bspwm",
  "sxhkd",
  "polybar",
  "ly",
  "alacritty",
  "openssh"
]

[desktop.lxqt]
# should be equal to netinstall lxqt section group in GUI installer
packages = [
  "audiocd-kio",
  "baka-mplayer",
  "breeze",
  "breeze-gtk",
  "featherpad",
  "gvfs",
  "gvfs-mtp",
  "kio-fuse",
  "libstatgrab",
  "libsysstat",
  "lm_sensors",
  "lxqt",
  "lxqt-archiver",
  "network-manager-applet",
  "oxygen-icons",
  "pavucontrol-qt",
  "print-manager",
  "qt5-translations",
  "sddm",
  "xdg-utils",
  "xscreensaver",
  "xsettingsd"
]

[desktop.cinnamon]
# should be equal to netinstall cinnamon section group in GUI installer
packages = [
  "cinnamon",
  "cinnamon-translations",
  "system-config-printer",
  "gnome-keyring",
  "gnome-terminal",
  "blueberry",
  "metacity",
  "lightdm",
  "lightdm-gtk-greeter"
]

[desktop.ukui]
# should be equal to netinstall ukui section group in GUI installer
packages = [
  "sddm",
  "thunar",
  "thunar-archive-plugin",
  "thunar-volman",
  "peony",
  "xfce4-terminal",
  "qt5-ukui-platformtheme",
  "ukui-biometric-auth",
  "ukui-control-center",
  "ukui-interface",
  "ukui-media",
  "ukui-menu",
  "ukui-menus",
  "ukui-notebook",
  "ukui-panel",
  "ukui-power-manager",
  "ukui-screensaver",
  "ukui-session-manager",
  "ukui-settings-daemon",
  "ukui-sidebar",
  "ukui-system-monitor",
  "ukui-themes",
  "ukui-wallpapers",
  "ukui-window-switch",
  "mate-terminal",
  "mate-system-monitor",
  "mate-control-center",
  "redshift",
  "gnome-screenshot",
  "accountsservice",
  "gvfs",
  "qt5-quickcontrols"
]

[desktop.qtile]
# should be equal to netinstall qtile section group in GUI installer
packages = [
  "cachyos-qtile-settings",
  "ttf-nerd-fonts-symbols",
  "qtile",
  "ttf-cascadia-code",
  "wired",
  "rofi",
  "thunar",
  "polkit-gnome",
  "qt5ct",
  "noto-fonts",
  "flameshot",
  "gnome-themes-extra",
  "ttf-jetbrains-mono",
  "ttf-font-awesome",
  "picom",
  "ly"
]

[desktop.mate]
# should be equal to netinstall mate section group in GUI installer
packages = [
  "celluloid",
  "gvfs",
  "gvfs-afc",
  "gvfs-gphoto2",
  "gvfs-mtp",
  "gvfs-nfs",
  "gvfs-smb",
  "lightdm",
  "lightdm-slick-greeter",
  "mate",
  "mate-extra",
  "network-manager-applet",
  "xdg-user-dirs-gtk"
]

[desktop.lxde]
# should be equal to netinstall lxde section group in GUI installer
packages = [
  "celluloid",
  "file-roller",
  "galculator",
  "gnome-screenshot",
  "gpicview",
  "gvfs",
  "gvfs-afc",
  "gvfs-gphoto2",
  "gvfs-mtp",
  "gvfs-nfs",
  "gvfs-smb",
  "lxappearance",
  "obconf-qt",
  "lxde",
  "lxde-icon-theme",
  "lxterminal",
  "lightdm",
  "lightdm-slick-greeter",
  "notification-daemon",
  "openbox",
  "pcmanfm",
  "lxmusic",
  "network-manager-applet",
  "xdg-user-dirs-gtk",
  "xed"
]

[desktop.hyprland]
# should be equal to netinstall hyprland section group in GUI installer
packages = [
  "hyprland",
  "sddm",
  "xdg-desktop-portal-hyprland",
  "playerctl",
  "wofi",
  "dolphin",
  "kitty",
  "uwsm",
  "wl-clipboard",
  "polkit-kde-agent",
  "xorg-xwayland"
]

[desktop.budgie]
# should be equal to netinstall budgie section group in GUI installer
packages = [
  "budgie-control-center",
  "budgie-desktop",
  "budgie-desktop-view",
  "budgie-extras",
  "budgie-screensaver",
  "eog",
  "evince",
  "file-roller",
  "gedit",
  "gnome-keyring",
  "gnome-screenshot",
  "gnome-terminal",
  "gvfs",
  "gvfs-afc",
  "gvfs-gphoto2",
  "gvfs-mtp",
  "gvfs-nfs",
  "gvfs-smb",
  "lightdm",
  "lightdm-slick-greeter",
  "nemo",
  "nemo-fileroller",
  "nemo-preview",
  "network-manager-applet",
  "sushi",
  "totem",
  "xdg-user-dirs-gtk"
]

[desktop.cosmic]
# should be equal to netinstall cosmic section group in GUI installer
packages = [
  "cosmic-app-library",
  "cosmic-applets",
  "cosmic-bg",
  "cosmic-comp",
  "cosmic-files",
  "cosmic-greeter",
  "cosmic-icon-theme",
  "cosmic-launcher",
  "cosmic-notifications",
  "cosmic-osd",
  "cosmic-panel",
  "cosmic-player",
  "cosmic-randr",
  "cosmic-screenshot",
  "cosmic-session",
  "cosmic-settings",
  "cosmic-settings-daemon",
  "cosmic-terminal",
  "cosmic-text-editor",
  "cosmic-wallpapers",
  "cosmic-workspaces",
  "notification-daemon",
  "cosmic-greeter",
  "xdg-desktop-portal-cosmic",
  "xorg-xwayland"
]

[desktop.niri]
# should be equal to netinstall niri section group in GUI installer
packages = [
  "cachyos-niri-noctalia",
  "sddm"
]

[desktop.xorg]
# should be equal to netinstall "X-system" subgroup in GUI installer
packages = [
  "libwnck3",
  "mesa-utils",
  "xorg-xdpyinfo",
  "xorg-server",
  "xorg-xinit",
  "xorg-xinput",
  "xorg-xkill",
  "xorg-xrandr"
]
